---
# Molecule configuration for full Kafka cluster testing
# This scenario deploys: 1 Root CA + 3 ZooKeeper + 3 Kafka nodes

ansible:
  executor:
    args:
      ansible_playbook:
        - --inventory=${MOLECULE_SCENARIO_DIRECTORY}/../inventory/

shared_state: true
dependency:
  name: galaxy
  options:
    requirements-file: ${MOLECULE_SCENARIO_DIRECTORY}/requirements.yml

driver:
  name: docker

platforms:
  # Root CA node
  - name: rootca1
    image: kafka-ansible/rocky9-systemd
    dockerfile: ../../../containers/rocky/9/Dockerfile
    pre_build_image: false
    privileged: true
    cgroupns_mode: host
    networks:
      - name: kafka-test-network
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    command: /usr/sbin/init
    groups:
      - rootca

  # ZooKeeper nodes
  - name: zk1
    image: kafka-ansible/rocky9-systemd
    dockerfile: ../../../containers/rocky/9/Dockerfile
    pre_build_image: false
    privileged: true
    cgroupns_mode: host
    networks:
      - name: kafka-test-network
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    command: /usr/sbin/init
    groups:
      - zookeeper

  - name: zk2
    image: kafka-ansible/rocky9-systemd
    dockerfile: ../../../containers/rocky/9/Dockerfile
    pre_build_image: false
    privileged: true
    cgroupns_mode: host
    networks:
      - name: kafka-test-network
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    command: /usr/sbin/init
    groups:
      - zookeeper

  - name: zk3
    image: kafka-ansible/rocky9-systemd
    dockerfile: ../../../containers/rocky/9/Dockerfile
    pre_build_image: false
    privileged: true
    cgroupns_mode: host
    networks:
      - name: kafka-test-network
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    command: /usr/sbin/init
    groups:
      - zookeeper

  # Kafka broker nodes
  - name: kafka1
    image: kafka-ansible/rocky9-systemd
    dockerfile: ../../../containers/rocky/9/Dockerfile
    pre_build_image: false
    privileged: true
    cgroupns_mode: host
    networks:
      - name: kafka-test-network
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    command: /usr/sbin/init
    groups:
      - kafka

  - name: kafka2
    image: kafka-ansible/rocky9-systemd
    dockerfile: ../../../containers/rocky/9/Dockerfile
    pre_build_image: false
    privileged: true
    cgroupns_mode: host
    networks:
      - name: kafka-test-network
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    command: /usr/sbin/init
    groups:
      - kafka

  - name: kafka3
    image: kafka-ansible/rocky9-systemd
    dockerfile: ../../../containers/rocky/9/Dockerfile
    pre_build_image: false
    privileged: true
    cgroupns_mode: host
    networks:
      - name: kafka-test-network
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    command: /usr/sbin/init
    groups:
      - kafka

  # Kafka UI container (no systemd needed)
  - name: kafkaui1
    image: ghcr.io/kafbat/kafka-ui:latest
    pre_build_image: true
    override_command: false
    networks:
      - name: kafka-test-network
    published_ports:
      - 0.0.0.0:8080:8080/tcp
    env:
      spring.config.additional-location=/tmp/config.yml
    volumes:
      - ${MOLECULE_SCENARIO_DIRECTORY}/../kafkaui-config.yml:/tmp/config.yml:ro
    groups:
      - kafkaui

provisioner:
  name: ansible
  env:
    ANSIBLE_FORCE_COLOR: "true"
  config_options:
    defaults:
      callbacks_enabled: profile_tasks
      gathering: smart
      result_format: yaml
    ssh_connection:
      pipelining: true
  inventory:
    group_vars:
      all:
        ansible_user: root
        ansible_python_interpreter: /usr/bin/python3
      zookeeper:
        zookeeper_myid: "{{ groups['zookeeper'].index(inventory_hostname) + 1 }}"
      kafka:
        kafka_broker_id: "{{ groups['kafka'].index(inventory_hostname) + 1 }}"

verifier:
  name: ansible
